h1 {
    text-align: center;
    margin: 4% 0;
    /* color: #fff; */
}
main {
    border: 2px solid #000;
    width: 80vw;
    height: 96vh;
    margin: auto;
    background-color: aquamarine;
    padding:  0 5%;
}